
html,
body {
    background-color: transparent;

    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #6d6e71;
}



img {
   vertical-align: middle;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.centered {
    text-align: center;
}


h1, h2 {
  text-align: center;
  padding-bottom: 20px;
}

.row {
margin-right: 0px;
/*margin-left: -15px;*/
margin-left: 0px;
}

.row-padding {
  /*padding-top: 50px;*/
  margin-bottom: 25px;
}

.polaroid {
  float:left;
  position:relative;
  /*width:200px;*/
  /*margin:10px 20px;*/
  padding: 6px 8px 10px 8px;
  /*margin-top: 70px;*/

  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  /*background: #eee6d8;*/

/*
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  */

  background: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5 20%, #f5f5f5 60%);
  background: -moz-linear-gradient(top, #f5f5f5, #f5f5f5 20%, #f5f5f5 60%);
  background: -o-linear-gradient(top, #f5f5f5, #f5f5f5 20%, #f5f5f5 60%);
  background: -ms-linear-gradient(top, #f5f5f5, #f5f5f5 20%, #f5f5f5 60%);
  background: linear-gradient(top, #f5f5f5, #f5f5f5 20%, #f5f5f5 60%);



  /*
  -webkit-transform:rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  transform: rotate(-1deg);
  */
  -webkit-backface-visibility:hidden; /*prevent rotated text being jagged in Chrome and Safari*/


}

.navbar {
  min-height: 80px;
	background-color: white;
}

.navbar-brand {
  padding: 0px 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

.navbar-default .navbar-nav > li > a {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 14px;
  /*margin-right: 15px;*/
  color: #6d6e71;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #f0907b;
}

.container-fluid {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}



#headerwrap {
	background: url(../img/Gestrikt_header_v3.jpg) no-repeat center top;
	margin-top: 80px;
  margin-bottom: 45px;
	padding-top:380px;
	text-align:center;
	/*background-attachment: relative;*/
	background-position: center center;
	min-height: 650px;
	width: 100%;


    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap p {
	color:#ffffff;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	line-height: 55px;
	letter-spacing: 3px;
	margin-left: 15px;
	text-shadow: 1px 1px 1px #000;
}

#activiteiten {
  /*background: #f5f5f5;*/
	margin-top: 45px;
	/*padding-top: 40px;*/
	/*border-bottom: 1px solid #ddd;*/
	text-align: center;
}

#activiteiten .callout {
  margin-bottom: 20px;
}

#activiteiten p {
/*
  margin-left: 30px;
	margin-right: 30px;
*/
	/*letter-spacing: 1px;*/
	padding-top: 15px;
	padding-bottom: 15px;
  text-align: left;
}

#activiteiten .icon {
  font-size: 60px;
	line-height: 30px;
	margin-bottom: 100px;
  text-align: center;
}

#activiteiten .icon-design {
  background-image: url('../img/Icoon grafisch ontwerp.png');
}


#contactwrap {
  background: #6d6e71;
	margin-top: 20px;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	text-align: center;
  color:white;
}

#contactwrap a {
  color: white;
}


.divider {
  background: #f5f5f5;
  margin-top: 45px;
	/*padding-top: 40px;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}


.textdivider {
	z-index: 999;
	width: 100%;
  height:65%;
	display: table;
	/*max-height: 800px;*/
	border-bottom: 2px solid #E6EAED;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 600px;
	margin-top: 45px;
  margin-bottom: 45px;


	background-position: center center;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	background-attachment: relative;

	text-align: center;
}


.dividerOndernemingen {
	background-image: url('../img/Zakelijk_v2.jpg');
}


.dividerParticulieren {
  background-image: url('../img/Particulier_v2.jpg');
}

.particulieren {
  background: #f5f5f5;
  padding-bottom: 45px;
  margin-bottom: -45px;
	border-bottom: 1px solid #ddd;
}

.portfolio {
/*
  border-width:5px;
  border-style:dotted;
  border-color: #6d6e71;
*/

  margin-bottom: 25px;
}

.portfolio .img-responsive {
  margin: 0 auto;
}
